body { margin: 0; font-family: serif; background-color: black; color: white; }
a { color: cyan; }
a:hover { color: yellow; }
#main { margin: 2vw; white-space: pre-wrap; }
img { width :100% }
table { border: ; border-collapse: collapse; border-color: white; }
td, th { border: solid 1px black; padding: 0px 2px; }
#footer { border-top: 1px solid gray; padding: 2vw; }
